{% extends "base.html" %}

{% block title %}Сторінка з карточками{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <form action="{% url 'search_recipes' %}" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Знайди необхідний рецепт" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Пошук</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container text-center">

        <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-6 mb-4 recipe-card" data-recipe-id="{{ recipe.id }}">
                <div class="card hvr-shrink">
                    <img src="{{ recipe.recipe_image.url }}" class="image-container" alt="{{ recipe.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">
                            <strong>Скл-сть приготування: </strong>{{ recipe.difficulty_level|slice:":150" }}<br>
                            <strong>Час приготування: </strong>{{ recipe.preparation_time|slice:":150" }}<br>
                            <strong>Автор: </strong>{{ recipe.author|slice:":150" }}<br>
                            <strong>Рейтинг: </strong>
                            <span class="mr-1">
                                {% for star in stars %}
                                    {% if star <= recipe.average_rating %}
                                        <i class="fa fa-star full stars-all"></i>
                                    {% elif recipe.average_rating > star|add:-1 and recipe.rating_residue >= 0.5 %}
                                        <i class="fa fa-star-half-full stars-all"></i>
                                    {% else %}
                                        <i class="fa fa-star-o stars-all"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <strong class="average-rating ml-0.5">{{ recipe.average_rating }}</strong>
                            <strong class="total-reviews tot-rev" style="font-size: 12px;">({{ recipe.total_reviews }})</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const recipeCards = document.querySelectorAll(".recipe-card");
    
        recipeCards.forEach(card => {
            card.addEventListener("click", function() {
                const recipeId = this.dataset.recipeId;
                window.location.href = `/recipe/${recipeId}/`; // 
            });
        });
    });
    </script>
{% endblock %}