{% extends "base.html" %}

{% block title %}
Створити запис
{% endblock %}

{% block content %}

<style>
    .header-rectangle {
        background-color: #66B2FF;
        margin-bottom: 30px;
    }
</style>

<div class="container">
    <h1 class="header-rectangle">Запропонувати запис</h1>
    <form class="form-horizontal form_middle" enctype='multipart/form-data' method="post" id="recipeForm">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.ingredients }}<br>
        {{ form.instructions }}<br>
        {{ form.preparation_time }}<br>
        {{ form.servings }}<br>
        Виберіть складність приготування:
        {{ form.difficulty_level }}<br>
        Виберите категорію страви:
        {{ form.category }}<br>
        Завантажте фото страви:
        {{ form.recipe_image }}<br>
        {% if request.user.is_authenticated %}
        <button type="submit" class="btn btn-success" id="submitRecipeButton">Запропонувати публікацію</button>
        <span>{{ error }}</span>
        {% else %}
        <a href="{% url 'login' %}" class="btn link-rentacle2">Запропонувати публікацію</a>
        {% endif %}
    </form>
</div><br>

{% endblock %}