{% extends "base.html" %}

{% block title %}Сторінка з карточками{% endblock %}

{% block content %}
<style>
    .stars {
        font-size: 20px;
        color: orange;
        margin-bottom: 3px;
    }

    .align-right {
        margin-right: 3px;
    }

    .ratingbox button {
        padding: 0;  /* Вимкнути padding */
        border-color: transparent;  /* Вимкнути border-color */
        background-color: transparent;  /* Вимкнути background-color */
    }

    .ratingbox a {
        padding: 0;  /* Вимкнути padding */
        border-color: transparent;  /* Вимкнути border-color */
        background-color: transparent;  /* Вимкнути background-color */
    }

</style>

<div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="ratingbox d-flex align-items-center">
                        <span class="mr-1">
                            <form id="rating-form" method="post" action="{% url 'recipe_detail' recipe.id %}">
                                {% csrf_token %}
                                <strong>Рейтинг:</strong>
                                {% if user.is_authenticated %}
                                <button 
                                    {% if 1 <=  average_rating%} name="rating" value="1" class="fa fa-star full stars btn btn-outline-light align-right" onclick="rateRecipe(1)" {% endif %}
                                    {% if average_rating > 0 and rating_residue >= 0.5 %} name="rating" value="1" class="fa fa-star-half-full stars btn btn-outline-light align-right" onclick="rateRecipe(1)" {% endif %}
                                    {% if 1 > average_rating %} name="rating" value="1" class="fa fa-star-o stars btn btn-outline-light align-right" onclick="rateRecipe(1)" {% endif %}
                                </button>
                                <button 
                                    {% if 2 <=  average_rating%} name="rating" value="2" class="fa fa-star full stars btn btn-outline-light" onclick="rateRecipe(2)"  {% endif %}
                                    {% if average_rating > 1 and rating_residue >= 0.5 %} name="rating" value="2" class="fa fa-star-half-full stars btn btn-outline-light " onclick="rateRecipe(2)" {% endif %}
                                    {% if 2 > average_rating %} name="rating" value="2" class="fa fa-star-o stars btn btn-outline-light" onclick="rateRecipe(2)" {% endif %}>
                                </button>
                                <button 
                                    {% if 3 <=  average_rating%} name="rating" value="3" class="fa fa-star full stars btn btn-outline-light" onclick="rateRecipe(3)"  {% endif %}
                                    {% if average_rating > 2 and rating_residue >= 0.5 %} name="rating" value="3" class="fa fa-star-half-full stars btn btn-outline-light" onclick="rateRecipe(3)" {% endif %}
                                    {% if 3 > average_rating %} name="rating" value="3" class="fa fa-star-o stars btn btn-outline-light" onclick="rateRecipe(3)" {% endif %}>
                                </button>
                                <button 
                                    {% if 4 <=  average_rating%} name="rating" value="4" class="fa fa-star full stars btn btn-outline-light" onclick="rateRecipe(4)"  {% endif %}
                                    {% if average_rating > 3 and rating_residue >= 0.5 %} name="rating" value="4" class="fa fa-star-half-full stars btn btn-outline-light" onclick="rateRecipe(4)" {% endif %}
                                    {% if 4 > average_rating %} name="rating" value="4" class="fa fa-star-o stars btn btn-outline-light" onclick="rateRecipe(4)" {% endif %}>
                                </button>
                                <button 
                                    {% if 5 <=  average_rating%} name="rating" value="5" class="fa fa-star full stars btn btn-outline-light" onclick="rateRecipe(5)"  {% endif %}
                                    {% if average_rating > 4 and rating_residue >= 0.5 %} name="rating" value="5" class="fa fa-star-half-full stars btn btn-outline-light" onclick="rateRecipe(5)" {% endif %}
                                    {% if 5 > average_rating %} name="rating" value="5" class="fa fa-star-o stars btn btn-outline-light" onclick="rateRecipe(5)" {% endif %}>
                                </button>
                                {% else %}
                                <span class="mr-1">
                                    {% for star in stars %}
                                        {% if star <= average_rating %}
                                            <a href="{% url 'login' %}" class="fa fa-star full stars btn btn-outline-light "></a>
                                        {% elif average_rating > star|add:-1 and rating_residue >= 0.5 %}
                                            <a href="{% url 'login' %}" class="fa fa-star-half-full stars btn btn-outline-light"></a>
                                        {% elif star > average_rating %}
                                            <a href="{% url 'login' %}" class="fa fa-star-o stars btn btn-outline-light"></a>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                {% endif %}
                                <strong class="ml-0.5">{{ average_rating }}</strong>
                                <strong class="ml" style="font-size: 12px;">({{ total_reviews }})</strong>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}