{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <form action="{% url 'search_recipes' %}" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Знайди необхідний рецепт" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Пошук</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
            <div class="col-md-6 mb-4">
                <a href="{% url 'category_recipes' category.id %}">
                    <div class="card hvr-shrink">
                        <img src="{{ category.category_image.url }}" class="card-img-top" alt="{{ category.name }}">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
