{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="header-rectangle">{{ recipe.title }}</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{{ recipe.recipe_image.url }}" class="fixed-image" alt="{{ recipe.title }}">
        </div>
        <div class="col-md-6 recipe-details">
            <p>
                <strong>Складність приготування:</strong> {{ recipe.difficulty_level }}<br>
                <strong>Час приготування:</strong> {{ recipe.preparation_time }}<br>
                <strong>Категорія:</strong> {{ recipe.category }}<br>
                <strong>Автор:</strong> {{ recipe.author }}<br>
                <strong>Дата створення:</strong> {{ recipe.date_created }}<br>
            </p>
            <div class="ratingbox d-flex align-items-center rating">
                <strong>Рейтинг:</strong>
                {% if user.is_authenticated %}
                <button 
                    {% if 1 <= average_rating %} class="fa fa-star full stars btn btn-outline-light align-right" {% endif %}
                    {% if average_rating > 0 and rating_residue >= 0.5 %} class="fa fa-star-half-full stars btn btn-outline-light align-right" {% endif %}
                    {% if 1 > average_rating %} class="fa fa-star-o stars btn btn-outline-light align-right" {% endif %}
                    value="1" onclick="rateRecipe(1)">
                </button>
            
                <button 
                    {% if 2 <= average_rating %} class="fa fa-star full stars btn btn-outline-light align-right" {% endif %}
                    {% if average_rating > 1 and rating_residue >= 0.5 %} class="fa fa-star-half-full stars btn btn-outline-light align-right" {% endif %}
                    {% if 2 > average_rating %} class="fa fa-star-o stars btn btn-outline-light align-right" {% endif %}
                    value="2" onclick="rateRecipe(2)">
                </button>
            
                <button 
                    {% if 3 <= average_rating %} class="fa fa-star full stars btn btn-outline-light align-right" {% endif %}
                    {% if average_rating > 2 and rating_residue >= 0.5 %} class="fa fa-star-half-full stars btn btn-outline-light align-right" {% endif %}
                    {% if 3 > average_rating %} class="fa fa-star-o stars btn btn-outline-light align-right" {% endif %}
                    value="3" onclick="rateRecipe(3)">
                </button>
            
                <button 
                    {% if 4 <= average_rating %} class="fa fa-star full stars btn btn-outline-light align-right" {% endif %}
                    {% if average_rating > 3 and rating_residue >= 0.5 %} class="fa fa-star-half-full stars btn btn-outline-light align-right" {% endif %}
                    {% if 4 > average_rating %} class="fa fa-star-o stars btn btn-outline-light align-right" {% endif %}
                    value="4" onclick="rateRecipe(4)">
                </button>
            
                <button 
                    {% if 5 <= average_rating %} class="fa fa-star full stars btn btn-outline-light align-right" {% endif %}
                    {% if average_rating > 4 and rating_residue >= 0.5 %} class="fa fa-star-half-full stars btn btn-outline-light align-right" {% endif %}
                    {% if 5 > average_rating %} class="fa fa-star-o stars btn btn-outline-light align-right" {% endif %}
                    value="5" onclick="rateRecipe(5)">
                </button>
                {% else %}
                <span class="mr-1">
                    {% for star in stars %}
                        {% if star <= average_rating %}
                            <a href="{% url 'login' %}" class="fa fa-star full stars btn btn-outline-light "></a>
                        {% elif average_rating > star|add:-1 and rating_residue >= 0.5 %}
                            <a href="{% url 'login' %}" class="fa fa-star-half-full stars btn btn-outline-light"></a>
                        {% elif star > average_rating %}
                            <a href="{% url 'login' %}" class="fa fa-star-o stars btn btn-outline-light"></a>
                        {% endif %}
                    {% endfor %}
                </span>
                {% endif %}
                <strong class="average-rating ml-0.5">{{ average_rating }}</strong>
                <strong class="tot-rev" style="font-size: 12px;">(</strong>
                <strong class="total-reviews tot-rev" style="font-size: 12px;">{{ total_reviews }}</strong>
                <strong class="tot-rev" style="font-size: 12px;">)</strong>
            </div>
        {% if user.is_authenticated %}
        <button id="favorite-button" data-recipe-id="{{ recipe.id }}" data-is-favorite="{{ is_favorite }}" class="btn-rectangle">
            {% if is_favorite %}
                Видалити з улюблених
            {% else %}
                Додати до улюблених
            {% endif %}
        </button>
        {% else %}
            <a href="{% url 'login' %}" class="btn link-rentacle">Додати до улюблених</a>
        {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 recipe-ingredients">
            <h2>Інгредієнти</h2>
            {{ recipe.ingredients|linebreaks }}
        </div>
        <div class="col-md-6 recipe-instructions">
            <h2>Інструкція</h2>
            {{ recipe.instructions|linebreaks }}
        </div>
    </div>
</div><br>

<div class="container text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-row align-items-start">
                        <div class="w-100">
                            <h5>Додати коментар</h5>
                            <form method="post" class="mb-4" id="commentForm">
                                {% csrf_token %}
                                <div class="form-outline">
                                    <textarea class="form-control" name="text" id="commentText" rows="3"></textarea>
                                </div>
                                <div class="d-flex justify-content-end mt-3">
                                    {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn btn-success" form="commentForm">Додати
                                        коментар</button>
                                    {% else %}
                                        <a href="{% url 'login' %}" class="btn btn-success">Додати коментар</a>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>


{% for comment in comments %}
<div class="container text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
            <div class="d-flex flex-start mb-4">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <div class="">
                            <h5>{{ comment.author }}</h5>
                            <p class="small">{{ comment.date_created }}</p>
                            <p>
                                {{ comment.text }}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<!--<div class="justify-content-center">
    <h5>Поки що немає коментарів...</h5>
</div>-->
{% endfor %}
</div>
<script>
    $(document).ready(function() {
    const recipeId = $('#favorite-button').data('recipe-id');

    function updateButtonStatus() {
        $.ajax({
            type: 'GET',
            url: `/recipe/${recipeId}/check_favorite/`,
            success: function(data) {
                const isFavorite = data.is_favorite;

                if (isFavorite) {
                    $('#favorite-button').text('Видалити з улюблених');
                } else {
                    $('#favorite-button').text('Додати до улюблених');
                }
            },
            error: function(error) {
                console.error('Помилка при завантаженні статусу улюбленого рецепту:', error);
            }
        });
    }

    updateButtonStatus();
        $('#favorite-button').click(function() {
            const recipeId = $(this).data('recipe-id');
            const isFavorite = $(this).data('is-favorite');
            
            $.ajax({
                type: 'POST',
                url: `/recipe/${recipeId}/toggle_favorite/`,
                data: {
                    'recipe_id': recipeId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data) {
                    if (data.message === "Рецепт додано до улюблених.") {
                        $('#favorite-button').text('Видалити з улюблених');
                        $('#favorite-button').data('is-favorite', true);
                    } else {
                        $('#favorite-button').text('Додати до улюблених');
                        $('#favorite-button').data('is-favorite', false);
                    }
                },
                error: function(data) {
                    alert('Помилка! Рецепт не було додано або видалено.');
                }
            });
        });
    });
    </script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function rateRecipe(rating) {
        var recipeId = '{{ recipe.id }}';

        $.ajax({
            type: 'POST',
            url: `/recipe/${recipeId}/rate/`,
            data: {
                'rating': rating,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                if (data && 'average_rating' in data && 'total_reviews' in data && 'rating_residue' in data) {
                    var formattedRating = parseFloat(data.average_rating).toFixed(1).replace('.', ',');
                    $('.average-rating').text(formattedRating);
                    $('.total-reviews').text(data.total_reviews);
                    updateStars(data.average_rating, data.rating_residue);
                } else {
                    console.error('Невірний формат даних під час оновлення рейтингу.');
                }
            },
        });
    }

    function updateStars(averageRating, ratingResidue) {
        // Отримуємо всі кнопки зірочок
        var starButtons = $('.stars');

        // Проходимося по кожній кнопці і встановлюємо потрібний клас
        starButtons.each(function(index) {
            var value = index + 1;

            if (value <= averageRating) {
                $(this).removeClass('fa-star-o fa-star-half-full').addClass('fa-star full');
            } else if (averageRating < value && value - 1 < averageRating + ratingResidue) {
                $(this).removeClass('fa-star-o fa-star full').addClass('fa-star-half-full');
            } else {
                $(this).removeClass('fa-star-full fa-star-half-full').addClass('fa-star-o');
            }
        });
    }
</script>
{% endblock %}