{% extends "base.html" %}

{% block title %}Мої рецепти{% endblock %}

{% block content %}
<style>
    .header-rectangle {
        margin-bottom: 30px;
    }
</style>

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="header-rectangle">Мої рецепти</h1>
    </div>
</div>

    <div class="container text-center">
        {% if recipes %}
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-6 mb-4 recipe-card" data-recipe-id="{{ recipe.id }}">
                <div class="card hvr-shrink">
                    <img src="{{ recipe.recipe_image.url }}" class="fixed-image" alt="{{ recipe.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">
                            <strong>Скл-сть приготування: </strong>{{ recipe.difficulty_level|slice:":150" }}<br>
                            <strong>Час приготування: </strong>{{ recipe.preparation_time|slice:":150" }}<br>
                            <strong>Автор: </strong>{{ recipe.author|slice:":150" }}<br>
                            <strong>Рейтинг: </strong>
                            <span class="mr-1">
                                {% for j in "12345" %}
                                    {% if j|add:0 <= recipe.average_rating %}
                                        <i class="fa fa-star full stars-all"></i>
                                    {% elif recipe.average_rating > j|add:-1 and recipe.rating_residue >= 0.5 %}
                                        <i class="fa fa-star-half-full stars-all"></i>
                                    {% else %}
                                        <i class="fa fa-star-o stars-all"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <strong class="average-rating ml-0.5">{{ recipe.average_rating }}</strong>
                            <strong class="total-reviews tot-rev" style="font-size: 12px;">({{ recipe.total_reviews }})</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h1>Ви ще не створили жодного рецепту.</h1>
        {% endif %}
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const recipeCards = document.querySelectorAll(".recipe-card");
    
        recipeCards.forEach(card => {
            card.addEventListener("click", function() {
                const recipeId = this.dataset.recipeId;
                window.location.href = `/recipe/${recipeId}/`; // 
            });
        });
    });
    </script>
{% endblock %}